@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #1E1B4B;
  --font-sans: "Inter", system-ui, sans-serif;
}

@layer base {
  body {
    background-color: #f9fafb;
    color: #334155;
    font-family: var(--font-sans);
  }
}
